<!-- restaurantCard.hbs -->
<div class="restaurant-container">
    <div class="restaurant-card">
        <div class="restaurant-header">
            <h2>{{name}}</h2>
        </div>
        <div class="restaurant-info">
            <div class="info-item">
                <span class="info-label">Cuisine:</span>
                <span class="info-value">{{cuisine}}</span>
            </div>

            <div class="info-item">
                <span class="info-label">Borough:</span>
                <span class="info-value">{{borough}}</span>
            </div>

            <div class="info-item">
                <span class="info-label">Address:</span>
                <span class="info-value">
                    {{address.building}} {{address.street}},
                    {{borough}}, NY {{address.zipcode}}
                </span>
            </div>

            <div class="info-item">
                <span class="info-label">Coordinates:</span>
                <span class="info-value">
                    Latitude: {{address.coord.[1]}}, Longitude: {{address.coord.[0]}}
                </span>
            </div>
        </div>

        <div class="reviews-section">
            <h3 class="section-title">Customer Reviews</h3>
            <div class="reviews-list">
                {{#each grades}}
                <div class="review-item">
                    <div class="review-header">
                        <span class="review-label">Grade:</span>
                        <span class="review-value">{{this.grade}}</span>
                    </div>
                    <div class="review-content">
                        <p class="score-label">Score: {{this.score}}</p>
                        <p class="date-label">Date: {{formatDate this.date}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>


        <div class="action-buttons">
            <a href="/api/restaurants/{{_id}}" class="action-button view-button">View</a>
            <a href="/api/restaurants/edit/{{_id}}" class="action-button edit-button">Edit</a>
            <form id="deleteForm" action="/api/restaurants/{{_id}}" method="POST" onsubmit="function () {
                            return confirm('Are you sure you want to proceed??')
                        }">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" class="delete-button">Delete</button>
            </form>
        </div>
    </div>
</div>