<!-- views/restaurants/index.hbs -->
<h1>Restaurant List</h1>

    <div class="action-buttons">
        <a href="/api/restaurants/add" class="add-button">Add New Restaurant</a>
    </div>

    <div class="restaurant-list">
        {{#if restaurants.length}}
        <!-- Iterate over restaurants and include the restaurant card partial -->
        {{#each restaurants}}
        {{> restaurantCard}}
        {{/each}}

        <!-- Pagination Controls -->
        <div class="action-buttons">
            <div class="pagination">
                {{#if hasPrev}}
                <a href="/api/restaurants?page={{prevPage}}&perPage={{perPageNumber}}" class="edit-button">Previous</a>
                {{/if}}

                {{#if hasNext}}
                <a href="/api/restaurants?page={{nextPage}}&perPage={{perPageNumber}}" class="edit-button">Next</a>
                {{/if}}
            </div>
        </div>
        {{else}}
        <p>No restaurants found.</p>
        {{/if}}
    </div>